<div class="row">
  <div class="large-11 large-offset-1 columns">
    <ul class="clearing-thumbs" data-clearing>
      <li>
        <a href="/assets/portfolio/portfolio_1.jpg" class="th radius">
          <%= image_tag 'portfolio/thumbnails/portfolio_1_TH.jpg' %>
        </a>
      </li>
      <li>
        <a href="/assets/portfolio/portfolio_2.jpg" class="th radius">
          <%= image_tag 'portfolio/thumbnails/portfolio_2_TH.jpg' %>
        </a>
      </li>
      <li>
        <a href="/assets/portfolio/portfolio_3.jpg" class="th radius">
          <%= image_tag 'portfolio/thumbnails/portfolio_3_TH.jpg' %>
        </a>
      </li>
      <li>
        <a href="/assets/portfolio/portfolio_3_1.jpg" class="th radius">
          <%= image_tag 'portfolio/thumbnails/portfolio_3_1_TH.jpg' %>
        </a>
      </li>
      <li>
        <a href="/assets/portfolio/portfolio_4.jpg" class="th radius">
          <%= image_tag 'portfolio/thumbnails/portfolio_4_TH.jpg' %>
        </a>
      </li>
      <li>
        <a href="/assets/portfolio/portfolio_5.jpg" class="th radius">
          <%= image_tag 'portfolio/thumbnails/portfolio_5_TH.jpg' %>
        </a>
      </li>
      <li>
        <a href="/assets/portfolio/portfolio_5_1.jpg" class="th radius">
          <%= image_tag 'portfolio/thumbnails/portfolio_5_1_TH.jpg' %>
        </a>
      </li>
      <li>
        <a href="/assets/portfolio/portfolio_6.jpg" class="th radius">
          <%= image_tag 'portfolio/thumbnails/portfolio_6_TH.jpg' %>
        </a>
      </li>
      <li>
        <a href="/assets/portfolio/portfolio_6_1.jpg" class="th radius">
          <%= image_tag 'portfolio/thumbnails/portfolio_6_1_TH.jpg' %>
        </a>
      </li>
      <li>
        <a href="/assets/portfolio/portfolio_7.jpg" class="th radius">
          <%= image_tag 'portfolio/thumbnails/portfolio_7_TH.jpg' %>
        </a>
      </li>
      <li>
        <a href="/assets/portfolio/portfolio_8.jpg" class="th radius">
          <%= image_tag 'portfolio/thumbnails/portfolio_8_TH.jpg' %>
        </a>
      </li>
      <li>
        <a href="/assets/portfolio/portfolio_9.jpg" class="th radius">
          <%= image_tag 'portfolio/thumbnails/portfolio_9_TH.jpg' %>
        </a>
      </li>
      <li>
        <a href="/assets/portfolio/portfolio_9_1.jpg" class="th radius">
          <%= image_tag 'portfolio/thumbnails/portfolio_9_1_TH.jpg' %>
        </a>
      </li>
      <li>
        <a href="/assets/portfolio/portfolio_10.jpg" class="th radius">
          <%= image_tag 'portfolio/thumbnails/portfolio_10_TH.jpg' %>
        </a>
      </li>
      <li>
        <a href="/assets/portfolio/portfolio_11.jpg" class="th radius">
          <%= image_tag 'portfolio/thumbnails/portfolio_11_TH.jpg' %>
        </a>
      </li>
      <li>
        <a href="/assets/portfolio/portfolio_11_1.jpg" class="th radius">
          <%= image_tag 'portfolio/thumbnails/portfolio_11_1_TH.jpg' %>
        </a>
      </li>
      <li>
        <a href="/assets/portfolio/portfolio_16.png" class="th radius">
          <%= image_tag 'portfolio/thumbnails/portfolio_16_TH.jpg' %>
        </a>
      </li>
      <li>
        <a href="/assets/portfolio/portfolio_13.jpg" class="th radius">
          <%= image_tag 'portfolio/thumbnails/portfolio_13_TH.jpg' %>
        </a>
      </li>
      <li>
        <a href="/assets/portfolio/portfolio_14.jpg" class="th radius">
          <%= image_tag 'portfolio/thumbnails/portfolio_14_TH.jpg' %>
        </a>
      </li>
      <li>
        <a href="/assets/portfolio/portfolio_15.png" class="th radius">
          <%= image_tag 'portfolio/thumbnails/portfolio_15_TH.jpg' %>
        </a>
      </li>
    </ul>
  </div>
</div>
