<footer>
  <hr />
  <div class="row">
    <div class="large-4 columns">
      <p><a href="/">&copy;</a><%= link_to ' Copyright Pando LLC.', root_path %></p>
    </div>
    <div class="large-8 columns">
      <ul class="inline-list right">
        <li><%= link_to 'Home', root_path %></li>
        <li><%= link_to 'Mindless rambling', articles_path %></li>
        <li><%= link_to 'Some of my work', work_path %></li>
        <li><%= link_to 'Where to find me', social_path %></li>
      </ul>
    </div>
  </div>
</footer>