<div class="sticky">
  <nav class="top-bar">
    <%#= image_tag('Pando_web_logo.png',
                                      :alt => "Pando Web Logo",
                                      :width => "40", :height => "40",
                                      :class => "logo-image right") %>
    <ul class="title-area">
      <!-- Title Area -->
      <li class="name">
        <h1>
          <% @name = '<span class="abbr">J</span><span class="hide-on-hover">ames&nbsp;</span><span class="abbr">D</span><span class="hide-on-hover">ullaghan</span>' %>
          <%= @name.html_safe %>
        </h1>
      </li>
      <li class="divider"></li>
      <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
      <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
    </ul>

    <section class="top-bar-section">
      <!-- Right Nav Section -->
      <ul class="right">
        <li class="divider"></li>
        <li><%= link_to 'Home', root_path %></li>
        <li class="divider"></li>
        <li><%= link_to 'Words', articles_path %></li>
        <li class="divider"></li>
        <li><%= link_to 'Work', work_path %></li>
        <li class="divider"></li>
        <li><%= link_to 'Contact', social_path %></li>
        <li class="divider"></li>
        <li class="empty-button"></li>
      </ul>
    </section>
  </nav>
</div>